*.db
*.gapcoins.zip
pfgw.ini
*.sage.py

bin
*.config
*.creator
*.files
*.includes
.deps
*.user

*.tar.gz
*.tar.xz

# autoreconf
Makefile.in
aclocal.m4
tmp/*
scripts/*
.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

.DS_Store

